<html>
<body>
    <h3>Modelo Predictivo basado en el Dataset Iris</h3>

<div>
  <form action="/result" method="POST">
    <label for="sepal_length">sepal length in cm: </label>
    <input type="text" id="sepal_length" name="sepal_length">
    <br>
    <label for="sepal_width">sepal width in cm: </label>
    <input type="text" id="sepal_width" name="sepal_width">
    <br>
    <label for="petal_length">petal length in cm: </label>
    <input type="text" id="petal_length" name="petal_length">
    <br>
    <label for="petal_width">petal width in cm: </label>
    <input type="text" id="petal_width" name="petal_width">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>